/* @media only screen and (max-width: 1024px) {
  #content-layout {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1550px) {
  #content-layout {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1550px) {
  #content-layout {
    max-width: 80%;
    margin: 0 auto;
  }
} */
.content-layout-margin {
  @apply mx-4 sm:mx-6 md:mx-8 lg:mx-12 xl:mx-16 2xl:mx-24;
}
.content-layout-padding {
  @apply px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-24;
}
body{
  background-color: #1C1C1C;
  min-height: 100vh;
}
  .scrollbar::-webkit-scrollbar {
    @apply w-2.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-wrench-neutral-5 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply border border-wrench-neutral-white bg-wrench-purple rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-wrench-purple-2 rounded-full;
  }
